@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-text {
  animation: blink 2.5s infinite ease-in-out;
}

/* animation de entrada */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome {
  animation: fadeIn 1.5s ease-in forwards;
}

.container {
  display: flex;
  flex-direction: row;
}

/* index.tsx */
.container-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* background */
/* styles.css */
.background {
  background-image: url("../../assets/background.svg");
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
  background-repeat: repeat; /* Faz a imagem se repetir */
  background-color: #303233;
  position: fixed; /* Fixa a posição do background */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa 100% da largura */
  height: 100%; /* Ocupa 100% da altura */
  z-index: -1; /* Coloca o background atrás do conteúdo */
  animation: blink 2.5s infinite ease-in-out; /* Aplica a animação */
}

/* botão wpp */
.container-whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  z-index: 9999;
}
.btn-whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-whatsapp:hover {
  background-color: #006414;
}

.btn-linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-linkedin:hover {
  background-color: #2047f5aa;
}

@media (max-width: 667px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    font-size: small;
    margin-bottom: 2rem;
  }
  .logo.php,
  .logo.csharp,
  .logo.html,
  .logo.js {
    display: none;
  }

  .logo.react {
    width: 34rem;
    margin-left: 3.12rem;
  }

  .index {
    font-size: medium;
  }

  .read-the-docs {
    font-size: 14px;
  }

  .btn-whatsapp,
  .btn-linkedin {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .logo.csharp,
  .logo.html,
  .logo.js,
  .logo.react,
  .logo.php {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .logo.php,
  .logo.csharp,
  .logo.html,
  .logo.js {
    width: 100%;
  }

  .container-index {
  }
}
