@media (max-width: 667px) {
  #container-repository {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .container-repo-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
}
