.accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin-left: 0.3rem;
}

.accordion-item[data-state="open"] {
  height: auto;
  transition: height 0.3s ease;
}

.accordion-item[data-state="closed"] {
  height: 3rem;
  transition: height 0.3s ease;
}

@media (max-width: 667px) {
  /* Menu Accordions */
  .accordiom-item {
    width: 305px;
  }
  .accordion-trigger {
    width: auto;
  }
  .accordion-content {
  }
  .btn-content {
    width: 290px;
  }
  .btn-content:hover {
    width: 100%;
  }

  .container-tutorial {
    flex-direction: column;
  }
}
